<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<mapper namespace="com.mybatis.demo.PersonMapper" >

    <resultMap id="BaseResultMap" type="com.XX.Person">
        <id column="id" property="id" jdbcType="INTEGER" />
    </resultMap>
    <delete id="deletePerson" parameterType="int">
        delete from person where id=#{id}
    </delete>
    <select id="getPersonByIds" returnType="person">
        select * from person where id in
        <foreach collection="array" item="id" index="indext" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <insert id="addPersons">
        insert into person(username,email,gender) VALUES
        <foreach collection="persons" item="person" separator=",">
            (#{person.username},#{person.email},#{person.gender})
        </foreach>
    </insert>
    <!-- allowMultiQueries=true 的特性-->
    <insert id="addPersons">
        <foreach collection="persons" item="person" separator=";">
                insert into person(username,email,gender) VALUES
                    (#{person.username},#{person.email},#{person.gender})

        </foreach>
    </insert>
    <!-- 基于SqlSession的ExecutorType批量添加 -->
    <!--拦截器-->
    <!--PageHelper插件-->
    <!--MyBatis的四大对象-->
    <div>
        ParameterHandler
        ResultSetHandler
        StatementHandler
        Executor
        <!--本质上，拦截器就是对象。利用插件（动态代理）进行【过滤】-->
        <!--Interceptor-->
    </div>

</mapper>
